[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"9d19b11" = {path = "C:/Users/jorchard/Downloads/PyQt4-4.11.4-cp36-cp36m-win_amd64.whl"}


[dev-packages]



[requires]

python_version = "3.6"
